<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen</title>
    <script defer src="socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <script>
        input.addEventListener("change", updateClass() )
        const updateClass = {
            const pattern = /(public|http|\?|#|\\|\/)/
            const match = pattern.test(document.getElementById('room-input').value)
            console.log(match)
            if (match) {
                document.getElementById('room-input').classList.add("disabled")
            }
            else {
                document.getElementById('room-input').classList.remove("disabled")
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div id="container" class="container">
        <div id="header" class="header noselect"><div id="top"><p>Zen</p></div></div>
        <div id="room-container" class="room-container noselect">
            <% Object.keys(rooms).forEach(room => { %>
                <div><%= room %><a href="/<%= room %>">&nbsp;> Join</a></div>
            <% }) %>
            <div><form id="create_form" action="/create" method="POST"><label>private</label><button id="create-button" type="submit">&nbsp;> Create</button></form></div>
        </div>
        <div id="form-container" class="send-container">
            <form id="join-form" class="join-form" action="/join" method="POST">
                <input id="room-input" name="room" type="text" placeholder="Room code..." required>
                <button id="join-button" class="noselect" type="submit">&nbsp;> JOIN</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>