<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen</title>
    <script>
        const roomName = "<%= roomName %>"
        document.title = `${roomName} - Zen`
        window.onload = init;
        function init() {
          if (roomName === 'public') {
            document.getElementById("topr").style.display = 'none';
          }
        }
    </script>
    <script defer src="socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="room.css">
</head>
<body>
    <div id="container" class="container">
        <div id="header" class="noselect header">
            <div id="topl"><p><mark><a href="/"><span>< Leave</span></a></mark></p></div>
            <div id="topr"><p><mark><a onclick="navigator.clipboard.writeText(window.location.pathname.substring(1))"><span>> Copy code</span></a></mark></p></div>
        </div>
        <div id="message-container" class="message-container"></div>
        <div class="send-container">
            <form id="usrnameform" class="msgform">
                <input type="text" id="usrname-input" placeholder="Enter a username..."><button type="submit" id="send-button">&nbsp;> Done</button>
            </form>
            <form id="msgform" class="msgform">
                <input type="text" id="message-input" placeholder="Message..."><button type="submit" id="send-button">&nbsp;> Send</button>
            </form>
        </div>
    </div>
</body>
</html>
