html {
  background-color: black;
  color: white;
  font-family:'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  /* Non-chromium Styling */
  scrollbar-color: chartreuse, #bbbbbb;
  scrollbar-width: thin;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
p {
  font-family: inherit;
  text-decoration: none;
  color: white;
  word-wrap: word-break;
}
mark {
  font-family: inherit;
  font-weight: bold;
  background-color: transparent;
  color: white;
}
a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  text-shadow: 0 0 10px white, 0 0 20px white;
}
.container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20vw;
  padding-right: 20vw;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
  border-bottom: 1px solid #1a1a1a;
  box-sizing: border-box;
  text-transform: Capitalise;
  white-space: nowrap;
}
div#topl {
  flex: 1;
  padding: 0;
  align-self: flex-start;
}
div#topl p {
  text-align: left;
}
div#topr {
  flex: 1;
  padding: 0;
  align-self: flex-end;
}
div#topr p {
  text-align: right;
}
.message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding-left: 4%;
  padding-right: 4%;
  flex: 1;
  overflow-y: scroll;
  /* Non-chromium Styling */
  scrollbar-color: chartreuse, #bbbbbb;
  scrollbar-width: thin;
}
.message-container::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
.message-container::-webkit-scrollbar-thumb {
  cursor: pointer;
  width: 8px;
  border-radius: 8px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.message-container::-webkit-scrollbar-thumb:hover {
  background-color: chartreuse;
}
.message-container::-webkit-scrollbar-track {
  background: linear-gradient(90deg, black 0%, black 33%, #bbbbbb 50%, black 100%);
  border-radius: 4px;
}
.message-container::-webkit-scrollbar-button {
  display: none;
}
.message-container div {
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: none;
  border-bottom: 1px solid #1a1a1a;
}
.message-container div:nth-child(2n) {
  background-color: black;
}
.message-container p {
  word-break: break-all;
  padding-left: 2%;
  padding-right: 2%;
  color:white;
}
.send-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vh;
  border-top: 1px solid #1a1a1a;
  background-color: black;
}
.msgform {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  white-space: nowrap;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vh;
}
.msgform input {
  width: 90%;
  align-self: flex-start;
  padding: 0;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #1a1a1a;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  transition: all 0.2s ease-in-out;
}
input:focus,select:focus,textarea:focus,button:focus {
  outline: none;
  border-bottom: 1px solid white;
  box-shadow: 0 5px 7px -7px white, 0 5px 14px -14px white;
}
.msgform button {
  align-self: flex-end;
  justify-content: right;
  justify-self: right;
  padding: 0;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  font-size: 12pt;
}
.msgform button:hover {
  text-shadow: 0 0 10px white, 0 0 20px white;
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}